<p id="notice"><%= notice %></p>


<div class="col-md-3 col-sm-6 col-xs-12 transitions-enabled" style="position: absolute; left: 50px; top: 100px;">
  <% @pins.each do |pin| %>
            <div class="post-container">
              <div class="post-option">
                
              </div>
              <div class="post-image">
                <%= link_to image_tag(pin.image.url(:medium)), pin %><br/>
              </div>
              <br/>
              
              <div class="post-meta">
                <ul class="list-meta list-inline">
                  <li><i class="fa fa-eye"></i></li>
                  <li><i class="fa fa-comment"></i></li>
                  <li><i class="fa fa-cloud-download"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
                <h3><%= pin.description %></h3>
              </div>
              <div class="post-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <% end %>
            </div>
         
          
          </div>